body {
	font-family: verdana;
	padding: 40px;
	background-color: #C7F3FF;
}

h1{
	color: #00204E;
}

h3{
	color: #00204E;
}

.common-page-heading-container{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.common-page-form input{
	background-color: beige;
	border-radius: 5px;
	border-color: transparent;
}

.common-page-form select{
	background-color: beige;
        border-radius: 5px;
        border-color: transparent;
}

.common-page-form-field{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: auto;
	margin right: auto;
}

.common-page-form{
	border-width: 2px;
	border-color: #00204E;
	border-radius: 20px;
	border-style: solid;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.common-page-submit-btn{
	margin-top: 20px;
}
